# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Environment variables
.env

# Output files
*.log

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/

# IDE/editor specific files
.vscode/
.idea/
